@model MissingCode.Demo.Controllers.ContactModel

@using (Html.BeginUmbracoForm("SubmitContactForm", "Contact"))
{
    <div>
        @Html.DisplayNameFor(x => x.Name)

        @Html.EditorFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    
     <div>
        @Html.DisplayNameFor(x => x.Email)

        @Html.TextBoxFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <input type="submit" value="OK" />
}
